<%- include("./partials/header")%>

<div class="login-box">
    <h1>Reset Password</h1>

    <form action="/forgot" method="POST">
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <button class="btn-login">Submit</button>
    </form>

</div>




<%- include("./partials/footer")%>